<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="urlrewritingnet"
             requirePermission ="true"
             type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"  />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>   
  </system.web>  

  <urlrewritingnet
    rewriteOnlyVirtualUrls="false"
    contextItemsPrefix="QueryString"
    defaultPage = "index.html"
    defaultProvider="RegEx"
    xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >
    <rewrites>
      <!--   11无后缀的重写-->
      <add name="RewritePhoto" virtualUrl="^~/service/handler/indexHandler"
                       rewriteUrlParameter="ExcludeFromClientQueryString"
                       destinationUrl="~/service/handler/indexHandler.ashx"
                       ignoreCase="true" />
      <!--还有一种方式 XX/?id=xx-->    
      <add name="RewriteMainPage" virtualUrl="^~/page/main"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/page/main.aspx"
         ignoreCase="true" />     
  
      <add name="RewriteCustomerPage" virtualUrl="^~/page/ext/(.*)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/page/ext.aspx?id=$1"
         ignoreCase="true" />
      
      <add name="login" virtualUrl="^~/login"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/login.aspx"
         ignoreCase="true" />
    </rewrites>    
  </urlrewritingnet>
  <system.webServer>
    <modules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </modules>
  </system.webServer>
  
  
</configuration>