<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="urlrewritingnet"
             requirePermission ="true"
             type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"  />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>   
  </system.web>  

  <urlrewritingnet
    rewriteOnlyVirtualUrls="false"
    contextItemsPrefix="QueryString"
    defaultPage = "index.html"
    defaultProvider="RegEx"
    xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >
    <rewrites>
      <!--还有一种方式 XX/?id=xx-->     
      <add name="Rewritepage" virtualUrl="^~/page/main"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/page/main.aspx"
         ignoreCase="true" />      
    </rewrites>
  </urlrewritingnet>
  <system.webServer>
    <modules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </modules>
  </system.webServer>
  
  
</configuration>